 .main-header {
     width: 62%;
     display: inline-block;
 }

 h1 {
     font-size: 2rem;
     text-align: left;
     margin-left: 18%;
 }

 .main-description{
    text-align: start;
    padding-left: 7%;

 }

  .rate-section {
      display: inline-block;
      width: 37%;
      margin-left: -10%;

  }
  .rate-container {
   display: flex;
   align-items: baseline;
   padding-bottom: 3%;
   width: 84%;
}

  .rate-container p{
      width: 100%;
      font-size: 0.7rem;
      display: inline-block;
      margin-left: -5%;
  }

  .rate-container img {
    text-align: initial;
    width: 12%;
    display: inline-block;
  }

  #contariner-2{
      
      margin-left: 20%;
  }

  #contariner-3 {
      margin-left: 30%;
  }

  .integrates-section {
      width: 100%;
        display: flex;
    }

#title-descrp {
        display: inline-block;
        margin: 0;
        padding: 4% 0%;
    }
.integrates-box {
    margin: 1%;
    border-radius: 5%;
}



